In [ ]:
!whereis pyspark

In [ ]:
import findspark
findspark.init('/usr/local/spark')
import pyspark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("df_basics").getOrCreate()

In [ ]:
df = spark.read.json('ex.json')

In [ ]:
df.take(3)

In [ ]:
df.show(2)

In [ ]:
type(df)

In [ ]:
df.printSchema()

In [ ]:
df.columns

In [ ]:
df.describe().show()

In [ ]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, FloatType

In [ ]:
data_schema1 = [StructField("age",IntegerType(),True), StructField("name",StringType(), True),StructField("sal",StringType(),nullable=False)]

In [ ]:
final_struct1 = StructType(fields=data_schema1)

In [ ]:
[i*i for i in [1,2,3,4]]

In [ ]:
[i*i if i%2==0 else i**3 for i in [1,2,3,4,5,6,7,8]]

In [ ]:
df3 = spark.read.json('ex.json', schema=final_struct1)

In [ ]:
df3.printSchema()

In [ ]:
df1.show()

In [ ]:
df1['age']

In [ ]:
df.select(['age']).show()

In [ ]:
df.select(['age','name']).show(2)

In [ ]:
df.head(2)

In [ ]:
df3=df3.withColumn('squared_age',df3['age']*2)

In [ ]:
df3.show()

In [ ]:
df.withColumnRenamed('age','Age').show()

In [ ]:
data = spark.createDataFrame([('John',25),('Sean',30)],schema=["Name","Age"])

In [ ]:
help(spark.createDataFrame)

In [ ]:
data.show()

In [ ]:
data = data.withColumn("Age",data["Age"]**3)

In [ ]:
df2 = spark.read.csv('ContainsNull.csv', header=True, inferSchema=True)

In [ ]:
df2.show()

In [ ]:
#!pip install --user pandas

In [ ]:
import pandas

In [ ]:
dfp=df2.toPandas()

In [ ]:
dfp

In [ ]:
dfp.isna().sum()

In [ ]:
dfp.dropna()

In [ ]:
dfp.dropna(axis=1)

In [ ]:
dfp.dropna(thresh=2)

In [ ]:
dfp['Sales'].fillna(value=dfp['Sales'].mean(), inplace=True)

In [ ]:
df2.dropna(thresh=2).show()

In [ ]:
df2.dropna(subset='Sales').show()

In [ ]:
df2.fillna('NA').show()

In [ ]:
df2.show()

In [ ]:
df_pandas = df2.toPandas()

In [ ]:
df_pandas

In [ ]:
df_pandas['Sales'].fillna(df_pandas['Sales'].mean())

In [ ]:
df2.na.drop().show()

In [ ]:
df2.dropna(subset='Sales').show()

In [ ]:
df2.fillna(subset='Sales', value=0).show()

In [ ]:
from pyspark.sql.functions import mean

In [ ]:
df2.select(mean(df2['Sales'])).collect()[0][0]

In [ ]:
mean_val = df2.select(mean(df2['Sales'])).collect()

In [ ]:
mean_val[0][0]

In [ ]:
df2.na.fill(mean_val[0][0],'Sales').show()

In [ ]:
df2.na.fill(df2.select(mean(df2['Sales'])).collect()[0][0],'Sales').show()

In [ ]:
df3 = spark.createDataFrame(data=[{'Age':32,'Height':4.5},{'Age':24,'Height':None},
                                 {'Age':27,'Height':5.3},{'Age':None,'Height':None}])

In [ ]:
df3.show()

In [ ]:
df = spark.read.csv('churn.csv', sep=',', header=True, inferSchema=True)

In [ ]:
df.show(5)

In [ ]:
df.columns

In [ ]:
df.printSchema()

In [ ]:
round(df.toPandas().describe(),2).T

In [ ]:
df.describe().show()

In [ ]:
df.filter('CreditScore>650').show()

In [ ]:
#!pip install pandas

In [ ]:
df.toPandas()[:5]

In [ ]:
df.filter(df['CreditScore']>650).select(df['CreditScore'],df['Exited']).show(5)

In [ ]:
df.filter((df['CreditScore']>650) & (df['Exited']==1)).show(5)

In [ ]:
print(pyspark.__version__)

In [ ]:
import numpy

In [ ]:
numpy.__version__

In [ ]:
from pyspark.sql.functions import avg, stddev, corr, format_number

In [ ]:
df.groupBy('Geography').count().show()

In [ ]:
df.groupBy('Geography').agg({'CreditScore':'mean','CreditScore':'max','Exited':'count'}).show()

In [ ]:
grp=df.groupBy('Geography')

In [ ]:
grp.mean().show()

In [ ]:
df.select(format_number(avg('Balance'),2).alias('Avg balance')).show()

In [ ]:
df.orderBy(df['Balance'].desc()).show(5)

In [ ]:
spark.stop()

In [ ]:
spark = SparkSession.builder.master("local").appName("memorymng")\
.config("spark.executor.memory","2g").getOrCreate()

In [ ]:
data = spark.createDataFrame(data=[('John',25),('Sean',30),("Peter",20)],
                             schema=["Name","Age"])

In [ ]:
data.show()

In [ ]:
data.printSchema()

In [ ]:
f1 = data.filter(data['Age']>25)

In [ ]:
f1.show()

In [ ]:
f2 = data.filter(data['Age']<25)

In [ ]:
f2.show()

In [ ]:
spark.sparkContext.ge